.App {
  text-align: center;

}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.new-quote{
  display: flex;
  align-items: center;

}

#quote-box{
  width: 750px;
  height: 250px;
  background-color: antiquewhite;
  border-radius: 10px;
  color: black;
  padding: 25px;

}

#author{
  text-align: end ;
}

#tweet-quote{
  float: left;
  padding-left: 5%;

}

#new-quote{
  float: right;
}


